:root {
    --contrast:#8bf688;
    --background:#2b3828;
    --background2:#1a1a1a;
    --contrast2:#eb0000;
    --borderad:5px;
    --font:"Lexend Giga", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Lexend+Giga:wght@100..900&display=swap');

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}
#wrapper{
    height: 200vh;
    display: grid;
    grid-template-columns: 1fr 80vw;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
    "hd hd"
    "as mn"
    "ft ft" ;

}
aside{
    grid-area: as;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    grid-area: hd;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 2px solid var(--contrast);
    box-shadow: 0px 4px 8px -2px var(--contrast);
}
main{
    grid-area: mn;
    background-color: var(--background2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    grid-area: ft;
}
.match{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--borderad);
    background-color: var(--background);
    margin-top: 30px;
    margin-bottom: 30px;
    height: 90px;
    width: 500px;
    padding: 30px;
}
.match .teams{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.teams{
    margin-top: -20px;
    height: 30px;
}
.score{
    font-family: var(--font);
   font-weight: bold;
   font-size: 35px;
   height: 35px;
}
.logos{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20px;
    color: var(--contrast2);
}
img{
    height: 60px;
}
h2{
    font-family: var(--font);
    color: var(--contrast);
    font-weight: bolder;
    margin: 0;
}
h3{
    font-family: var(--font);
    font-size: 35px;
    color: var(--contrast);
}
.page{
    display: flex;
    align-items: center;
    justify-content: center;
    block-size: 100px;
    border-radius: var(--borderad);
    background-color: var(--background2);
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
    color: var(--contrast);
    font-size: 20px;
    text-decoration: none;
}

#login{
    display:flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: var(--background2);
}
#loginwindow{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 60%;
    background-color: var(--background);
    border-radius: var(--borderad);
    align-items: center;
    justify-content: center;
    z-index: 6;
}
.emaillogin{
    width: 70%;
    height: 20%;
    border-radius: var(--borderad);
    border-style: solid;
    border-color: var(--contrast);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.password{
    width: 70%;
    height: 20%;
    border-radius: var(--borderad);
    border-style: solid;
    border-color: var(--contrast);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.usernamelogin{
    width: 70%;
    height: 20%;
    border-radius: var(--borderad);
    border-style: solid;
    border-color: var(--contrast);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
input{
    border: 0;
    background-color: var(--background);
    height: 20%;
    width: 70%;
}
.loginlogo{
    font-size: 30px;
    color: var(--contrast);
}
.loginbutton, #confirmlogin, #confirmsignup{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: auto;
    background-color: var(--background2);
    color: var(--contrast);
    text-decoration: none;
    border-radius: var(--borderad);
    margin-right: 20px;
    padding: 5px;
}
#confirmlogin{
    height: 20px;
    margin-top: 10px;
}
#confirmsignup{
    height: 20px;
    margin-top: 10px;
}
h1{
    font-family: var(--font);
    margin-right: auto;
    margin-left: 30px;
    color: var(--contrast);
    font-weight: bolder;
    font-size: 60px;
}

    #wrapper{
        height: 200vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 100px;
        grid-template-areas:
        "hd"
        "mn"
        "ft" ;
    }
    aside{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        height: 400px;
        width: 200px;
        padding: 20px;
        background: var(--background);
        border-bottom-left-radius: 5px;
        z-index: 999;
    }
    header{
        z-index: 4;
        position: relative;
    }
    .hamburger{
        background: none;
        border: none;
        font-size: 30px;
        display: block;
        justify-self: center;
        margin-right: 20px;
    }
    aside.open{
       display: flex;
    }

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(32, 50, 20, 0.5);
    display: none;
    z-index: 5;
}
.fade-layer.visible{
    display: block;
}
.time{
    font-size: 20px;
    margin-bottom: 30px;
}
.winner{
    font-size: 30px;
    color: var(--contrast);
}
.predictionmenu{
    display: none;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    border-radius: var(--borderad);
    background-color: var(--background);
    margin-top: 30px;
    margin-bottom: 30px;
    height: 90px;
    width: 500px;
    padding: 30px;
    z-index: 10;
}
.predictionmenu.open{
    display: flex;
}
.player{
    display: block;
    border-radius: var(--borderad);
    height: 100px;
    width: 50%;
}
.predictbutton{
    z-index: 10;
    background: none;
    border: none;
    font-size: 35px;
    height: 35px;
}
.event{
    height: 27px;
}
p{
    color: var(--contrast2);
}
h6{
    color: var(--contrast2);
}
.player{
    display: flex;
    width: 500px;
    height: 50px;
    background-color: var(--background);
}
#ben{
    font-size: 30px;
    color: var(--contrast2);
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background2);
    border-top: 2px solid var(--contrast);
}